footer{
   background: $titleSection;
   padding: 150px 0;
   @media(max-width:769px){
      padding: 60px 0;
   }
   .footer-container, .menus-footer{
      display: flex;
      width: 100%;
      
   }
   .footer-container{
      @media(max-width:992px){
         flex-direction: column;
      }
   }
   .menus-footer{
      @media(max-width:769px){
         flex-direction: column;
      }
   }
   .footer-container{
      justify-content: space-between;
   }
   .title-item{
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.1px;
      color: #FFFFFF;
      font-family: "Graphik-Bold";
      font-weight: normal;      
      margin-bottom: 25px;
   }
   .item{
      width: 30%;
      @media(max-width:992px){
         width: 40%;
      }
      @media(max-width:769px){
         width: 100%;
         text-align: center;
         margin-bottom: 50px;
      }
      a{
         margin-bottom: 16px;
         display: inline-block;
      }
   }
  
  .contact{
     width: 35%;
     @media(max-width:992px){
        width: 80%;
        margin-top: 50px;
     }
     @media(max-width:769px){
         width: 80%;
         margin: auto;
      }
   .social{
      li{
         display: inline-block;
         margin-right: 30px;
         margin-top: 20px;
      }
      ul{
         @media(max-width:769px){
            text-align: center;
         }
      }
   }
     li{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
     }
     span{
        color: #fff;
        font-size: 15px;
         line-height: 27px;
         letter-spacing: 0.2px;
         font-family: 'Graphik-Regular';    
         margin-left: 15px;     
     }
  }

}